//Color variables

$primary-color--main: #080e2c;
$primary-color--dark: #040614;
$primary-color--light: #3c4678;
$secondary-color--main: #44eabb;
$secondary-color--dark: #2c9275;
$secondary-color--light: #5bffd1;
$background-color--main: #f3fdfb;
$background-color--dark: #dae3e1;
$background-color--light: #ffffff;
$text-color--main: #1d1e23;
$text-color--dark: #0e0e11;
$text-color--light: #565866;
$text-color--white: #fff;
$border-color--main: #dbdbdb;
$border-color--dark: #b1b0b0;
$border-color--light: #f1f0f0;

$danger-color--main: #b21515;
$danger-color--dark: #921111;
$danger-color--light: #e52424;

$success-color--main: #1bc44b;
$success-color--dark: #1dab45;
$success-color--light: #34e065;

$cancel-color--main: #bbbbbb;
$cancel-color--dark: #aaaaaa;
$cancel-color--light: #dddddd;

//Box shadow variables

$box-shadow--main: rgba(0, 0, 0, 0.15) 0px 2px 8px;
$box-shadow--light: rgba(0, 0, 0, 0.08) 0px 4px 12px;
